.pagination {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    align-items: center;
    margin: 0 auto;
    padding: 25px 0;
}

.pagination-page-link {
    padding: 10px;
    display: block;
    border-radius: 8px;
}
.page-link-active {
    background-color: cornflowerblue;
    color: #fff;
}

.previous-link,
.next-link {
    padding: 5px 10px;
    background-color: #a7333f;
    color: #fff;
}
